body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size:x-large;
    margin-bottom: 0;
    margin-top:0;
}
#about {
    margin-top:10px;
}
h2 {
    font-size:medium;
    color:#666;
}
ul {
    margin: 0;
    padding:0;
}
ul li {
    margin:0;
    padding:0;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style-type: none;
}
a.ext {
    position: relative;
    padding-right: 20px;
}
a.ext2 {
    position: relative;
    padding-right: 30px;
}
a.ext2 .material-icons {
    position: relative;
    top:3px;
    left:3px;
}

.main-container {
    display:flex;
}

label {
    padding-right:10px;
    padding-bottom:5px;
}

#datasets, #quality {
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}

.sidebar {
    width: 250px;
    padding-right:20px;
}

#map {
    flex: 1;
    height: 400px; /* Adjust the height as needed */
}

.leaflet-popup-content {
    width: 500px !important;
}

.leaflet-popup-tip-container {
    bottom:-19px;
}

table.popup-table {
    border-collapse: collapse;
    max-width: 100%;
    width:100%;
    table-layout: auto;
    margin-bottom:30px;
}
  
table.popup-table td, table.popup-table th {
    border: 1px solid #ccc;
    padding: 8px;
}

table.popup-table .tbl-label {
    width:1px;
    font-weight: bold;
}

table.popup-table .tbl-value {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
}

.material-icons {
    font-size:14px;
    color:#0078A8;
    position:absolute;
    right:0;
    top:0;
}

.info {
    position:relative;
    display:inline-block;
    padding-right:20px;
}

.info-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: lightskyblue;
    border-radius: 50%;
    cursor: pointer;
}
  
.info-icon::before {
    content: "i";
    display: block;
    color: blue;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
  
.info-text {
    display: inline-block;
    padding-right: 30px; /* Adjust the padding as needed */
    cursor: pointer;
}
  
/* Add hover effect */
.info-icon:hover::before {
    font-size: 12px;
}

.ogc-off .progress, .ogc-loaded .progress {
    display:none;
}

.ogc-loaded .nonogc-props {
    display:none;
}

.ogc-off .ogc-props, .ogc-loading .ogc-props {
    display:none;
}

.ogc-loading .progress {
    display:block;
    margin:0;
}

.progress-wrapper {
    margin: 0.5rem 0 1rem 0;
    height: 10px;
}
