body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size:x-large;
    margin-bottom: 0;
    margin-top:0;
}
#about {
    margin-top:10px;
}
h2 {
    font-size:medium;
    color:#666;
}
ul {
    margin: 0;
    padding:0;
}
ul li {
    margin:0;
    padding:0;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style-type: none;
}
a.ext {
    position: relative;
    padding-right: 20px;
}
a.ext2 {
    position: relative;
    padding-right: 30px;
}
a.ext2 .material-icons {
    position: relative;
    top:3px;
    left:3px;
}
.info-mode #emptymap {
    display:none !important;
}

.main-container {
    display:flex;
}



label {
    padding-right:10px;
    padding-bottom:5px;
}

#datasets, #quality {
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}

.sidebar {
    width: 250px;
    padding-right:20px;
    padding-left:20px;
}

td.tbl-value [data-lookup] a.ext .error-msg, td.tbl-value a a.ext .error-msg {
    display: none;
}


#map {
    flex: 1;
    height: 400px; /* Adjust the height as needed */
}

.card-title, #ds-description {
    word-wrap: break-word;
}

.leaflet-popup-content {
    width: 800px !important;
}

.leaflet-popup-tip-container {
    bottom:-19px;
}

table.popup-table {
    border-collapse: collapse;
    max-width: 100%;
    width:100%;
    table-layout: auto;
    margin-bottom:30px;
}

.tbl-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#info .tbl-container {
    max-height: none;
}

.tbl-container pre {
    overflow-x: auto;
}

table.popup-table {
    margin-right:20px;
}

table.popup-table td, table.popup-table th {
    border: 1px solid #ccc;
    padding: 8px;
}

table.popup-table .tbl-label {
    width:1px;
    font-weight: bold;
}

table.popup-table .tbl-value {
    word-wrap: break-word;
/*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    width:100%;
}

.material-icons {
    font-size:14px;
    color:#0078A8;
    position:absolute;
    right:0;
    top:0;
}

.info {
    position:relative;
    display:inline-block;
    padding-right:20px;
}

.info-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: lightskyblue;
    border-radius: 50%;
    cursor: pointer;
}
  
.info-icon::before {
    content: "i";
    display: block;
    color: blue;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
  
.info-text {
    display: inline-block;
    padding-right: 30px; /* Adjust the padding as needed */
    cursor: pointer;
}
  
/* Add hover effect */
.info-icon:hover::before {
    font-size: 12px;
}

.ogc-off .progress, .ogc-loaded .progress {
    display:none;
}

.ogc-loaded .nonogc-props {
    display:none;
}

.ogc-off .ogc-props, .ogc-loading .ogc-props {
    display:none;
}

.ogc-loading .progress {
    display:block;
    margin:0;
}

.progress-wrapper {
    margin: 0.5rem 0 1rem 0;
    height: 10px;
}

#body.map-mode #map {
    display:block;
}

#body.map-mode #info {
    display:none;
}

#body.info-mode #map {
    display:none;
}

#body.info-mode #info {
    display:block;
}

.container .row pre {
    margin:0;
    padding:0;
}

.container .row ul {
    overflow-x:auto;
}

.container.full {
    width:100% !important;
    max-width: 100% !important;
}

#info h2 {
    background-color: #eee;
    text-align:center;
    color:black;
    border-bottom:1px solid #ccc;
}

#info h3 {
    font-size:20px;
}

#info .container .tbl-container{
    overflow: auto;
    overflow-x:scroll !important;
}

.material-tooltip {
    max-width: 450px;
}


.props.row {
    display: flex;
}

.props.col {
    flex: 1; /* Makes the columns flexible */
    margin: 0 5px; /* Optional margin between columns */
}

.props.min-width {
    flex: 0 0 auto; /* Allow this column to take only its content width */
    /* width: 200px; */ /* No specific width set, allowing it to take only necessary space */
}

/* Optional: Add ellipsis for text overflow */
.props.col table {
    table-layout: fixed; /* Fix table layout */
    width: 100%; /* Ensure table takes up full width of the column */
}

.props.col table td.tbl-value {
    overflow-x: auto;
    white-space: nowrap;
}

.props.col table td.tbl-label {
    overflow-x: auto;
    width:100%;
}

.leaflet-popup-content {
    min-height: 500px;
}